body {
  width: 770px;
  margin: auto;
  margin-top: 0px;
  padding: 0;
  font-family: Arial, sans-serif;
}
/*logo*/
h1 {
  text-align: right;
  margin: auto;
  margin-top: 10px;
  width: 716px;
  height: 96px;
  background-image: url('../img/insofter.jpg'); 
}
/*koniec logo*/

/*menu*/
/*mmenurozwijane*/
ul.menu {
  display: inline;
  z-index: 10;
  margin: auto;
}
li.menu {
  display: block;
}
.menu, .menurozwijane {
  list-style-type: none;
  padding: 0;
  text-indent: 0;
  float: left;
}
.menu, .menurozwijane, .menurozwijane li {
  height: 30px;
}
li.menu, .menurozwijane li  {
//  padding-left: 22px;
//  padding-right: 22px;
  width: 178px;
}
li.menuinfo {
  width: 56px;
}

ul.menurozwijane {
  overflow: hidden;
  z-index: 10;
  position: relative;
  width: 100%;
}
ul.menurozwijane:hover {
  height: auto;
}
/*koniec menurozwijane*/

.menu, .menu a, .menu li, .menu ul  {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  line-height: 26px;
  font-size: 16px;
}
.menurozwijane:hover li {
  background-color: #e4ffe4;
}
.menu a:hover {
  text-decoration: underline;
  background-color: palegreen;
}
.menu li:hover, .menu li:hover > a {
  background-color: palegreen;
  color: #004400;
}

a.klikniete {
  color: green;
}
/*koniec menu*/
/*tresc*/
#lewy, #prawy {
  display: block;
  width: 385px;
  float: left;
  height: 400px;
}
#tresc {
  width: 770px;
}

h3 {
  color: green;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 30px;
}
h4 {
  background-color: palegreen;
  text-align: center;
  padding: 10px;
}
#err {
  background-color: lightcoral;
  text-align: center;
  padding: 10px;
}

.nieaktywne input {
  background-color: #DDDDDD;
  color: #555555;
  border-color: #555555;
}
.nieaktywne {
  color: #777777;
}

table {
  margin: auto;
}

td {
  text-align: center;
  width: 100px;
}

p {
  font-size: 14px;
  text-align: justify;
  text-indent: 30px;
}
p a, li a {
  color: maroon;
}
h2 {
  padding-top: 50px;
  text-align: center;
}
h3 {
  margin-top: 30px;
}
input, select {
  font-size: 14px;
  font-family: Arial, sans-serif;
  /*  background-color: #fff;
  border-width: 1px;
  border-color: black;
  border-style: solid;*/
  text-align: center;

  text-decoration: none;
  color: black;
  margin: 1px;
}
.liczniki, .liczniki td {
  padding: 0;
  border-collapse: collapse;
}
.liczniki select, .liczniki input {
  width: 100px;
}
.liczniki td {
  width: auto;
}
.liczniki_tab {
  border-color: black;
  border-style: solid;
  border-width: 2px;
}
.liczniki_tab td, .liczniki_top {
  width: 300px;
  height: 35px;
}

.cienki {
  width: 75px;
}
input:hover, select:hover {
  background-color: palegreen;
}
input [type="file"] {
  width: 500px;
}
#adres {
  text-align: center;
  margin-top: 50px;
  text-indent: 0;
}
ul.log {
  text-indent: 20px;
}
.log a {
  font-family: monospace;
  color: black;
  text-decoration: none;
}
.log a:hover {
  text-decoration: underline;
}
pre {
  width: 770px;
}
pre strong {
  color: red;
}
em {
  color: green;
  font-weight: bold;
  font-style: normal;
}
p#wifi {
  text-align: center;
  text-indent: 0;
}
#wifi input {
  margin: 0;
  width: 200px;
}
/*koniec tresc*/
/*stopka*/
#stopka {
  margin-top: 60px;
  text-align: center;
  width: 770px;
  height: 600px;
}
/*koniec stopka*/
