body {
  width: 770px;
  margin: auto;
  margin-top: 0px;
  padding: 0;
  font-family: Arial, sans-serif;
}
/*logą*/
h1 {
  text-align: center;
  margin-top: 3px;
}
/*koniec logo*/

/*menu*/
ul.menu {
  display: inline;
  position: relative;
  z-index: 11;
}
ul.menu, .menu li, .menu ul {
  list-style-type: none;
  padding: 0;
  text-indent: 0;
  height: 30px;
  overflow: hidden;
  position: relative;
  z-index: 11;
}
.menu li {
  float: left;
  width: 130px;
  /*width: 94px;*/
  position: relative;
  z-index: 11;
}
.menu li:hover  {
  height: auto;
  position: relative;
  z-index: 10;
  background-color: white;
}
.menuconfig, .menuconfig li {
  z-index: 11;
  position: relative;
}
.menuconfig:hover, .menuconfig li:hover {
  z-index: 10;
  position: relative;
}
/*#klikniete {
  color: green;
}
.menu li:hover {
  background-color: palegreen;
  color: red;
}
.menu a, menu li {
  color: black;
  text-decoration: none;
  font-weight: bold;
  line-height: 26px;
  font-size: 14px;
}
.menu a:hover {
  text-decoration: underline;
}*/

/*koniec menu*/
/*tresc*/
#lewy, #prawy {
  display: block;
  width: 385px;
  float: left;
  height: 400px;
}
#tresc {
  width: 770px;
}

h3 {
  color: green;
  text-align: center;
  padding-top: 35px;
  margin-bottom: 30px;
}
h4 {
  background-color: palegreen;
  text-align: center;
  padding: 10px;
}
#err {
  background-color: lightcoral;
  text-align: center;
  padding: 10px;
}

.nieaktywne input {
  background-color: #DDDDDD;
  color: #555555;
  border-color: #555555;
}
.nieaktywne {
  color: #777777;
}

table {
  margin: auto;
}

td {
  text-align: center;
  width: 100px;
}

p {
  font-size: 14px;
  text-align: justify;
  text-indent: 30px;
}
p a, li a {
  color: maroon;
}
h2 {
  padding-top: 50px;
  text-align: center;
}
h3 {
  margin-top: 30px;
}
input, select {
  font-size: 14px;
  font-family: Arial, sans-serif;
  /*  background-color: #fff;
  border-width: 1px;
  border-color: black;
  border-style: solid;*/
  text-align: center;

  text-decoration: none;
  color: black;
  margin: 1px;
}
select {
  width: 150px;
}
.cienki {
  width: 75px;
}
input:hover, select:hover {
  background-color: palegreen;
}
input[type="submit"], input[type="reset"], input[type="button"] {
  margin-left: 30px;
}
input [type="file"] {
  width: 500px;
}
#adres {
  text-align: center;
  margin-top: 50px;
  text-indent: 0;
}
ul.log {
  text-indent: 20px;
}
.log a {
  font-family: monospace;
  color: black;
  text-decoration: none;
}
.log a:hover {
  text-decoration: underline;
}
pre {
  width: 770px;
}
pre strong {
  color: red;
}
em {
  color: green;
  font-weight: bold;
  font-style: normal;
}
/*koniec tresc*/
/*stopka*/
#stopka {
  margin-top: 60px;
  text-align: center;
  width: 770px;
  height: 600px;
}
/*koniec stopka*/
